@font-face {
  src: url("./assets/fonts/Anurati.otf");
  font-family: Anurati;
}

@font-face {
  src: url("./assets/fonts/Futura.ttf");
  font-family: Futura;
}

* {
  font-family: Futura;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.fab {
  color: rgb(175, 175, 175);
  font-size: 50px;
}
